<div class="container"></div>
 <div class="row">
  <div class="col text-center mt-4">
    <!-- express melindung foto,file static -->
    <img src="img/me.png" alt="Jefry Kurniawan" 
      class="img-thumbnail rounded-circle" width="200">
    <h1 class="display-4">Jefry Kurniawan</h1>
    <p class="lead">Lect | Back End Development</p>
  </div>
 </div>

 

